@using BTCPayServer.Plugins.Clink.Controllers
@model BTCPayServer.Components.MainNav.MainNavViewModel

<li class="nav-item nav-item-sub">
    <a layout-menu-item="Clink" 
       asp-controller="Clink" 
       asp-action="Configure" 
       asp-route-storeId="@Model.Store.Id">
        <i class="fa fa-bolt"></i>
        <span>CLINK Lightning</span>
    </a>
</li>
